@media all and (min-width: 480px) {
    
  body {
    background-color: #f5f5f5;
  }

  .login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #efefef;
}

  .login-card {
    
    width: 100%;
    max-width: 840px;
    height: 544px;
    background: #FFFFFF;
    border-radius: 8px;
    display: block;
    overflow: hidden;
  }

  .Login {
      padding: 60px 0;
    }
  
    .Login form {
      padding: 60px 0;
      margin: 0 auto;
      max-width: 320px;
    }
  }